body {
 margin:0;
 font-family:Arial;
 background:#f8fafc;
}

header {
 background:#1e293b;
 color:white;
 padding:25px;
 text-align:center;
}

nav a {
 color:white;
 margin:12px;
 text-decoration:none;
 font-weight:bold;
}

section {
 padding:50px;
 text-align:center;
}

footer {
 background:#1e293b;
 color:white;
 padding:15px;
 text-align:center;
}
